<?xml version="1.0" encoding="utf-8"?>
<plugin
        xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-hello-c"
        version="1.1.1">

  <name>Hello</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/helloc.js" target="js/helloc.js"/>

  <js-module src="www/helloc.js" name="helloc">
    <clobbers target="helloc" />
  </js-module>

  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="HelloCPlugin">
        <param name="android-package" value="com.example.HelloCPlugin"/>
      </feature>
    </config-file>

    <!-- Java plugin API -->
    <source-file src="src/android/HelloCPlugin.java" target-dir="app/src/main/java/com/example/"/>
    <source-file src="src/android/HelloCJni.java" target-dir="app/src/main/java/com/example/" />

  <!-- PRODUCTION - comment out source files below for debugging -->

    <!-- Compiled C libraries - release binaries - device -->
    <source-file src="src/android/libs/arm64-v8a/libhelloc.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libs/armeabi-v7a/libhelloc.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
    <source-file src="src/android/libs/arm64-v8a/libcrypto.so" target-dir="app/src/main/jniLibs/arm64-v8a/" />
    <source-file src="src/android/libs/armeabi-v7a/libcrypto.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />


    <!-- Compiled C libraries - debug binaries - device -->
    <source-file src="src/android/obj/local/armeabi-v7a/libhelloc.so" target-dir="app/obj/local/armeabi-v7a/" />
    <source-file src="src/android/obj/local/arm64-v8a/libhelloc.so" target-dir="app/obj/local/arm64-v8a/" />
    <source-file src="src/android/obj/local/armeabi-v7a/libcrypto.so" target-dir="app/obj/local/armeabi-v7a/" />
    <source-file src="src/android/obj/local/arm64-v8a/libcrypto.so" target-dir="app/obj/local/arm64-v8a/" />

  <!-- END PRODUCTION -->



  <!-- DEBUG - these files are not needed for production -->
    <!-- Custom gradle file to setup NDK for debugging -->
    <source-file src="src/android/build-extras.gradle" target-dir="."/>

    <!-- NDK Make file for source references for C debugging -->
    <source-file src="src/android/jni/Android.mk" target-dir="app/src/main/java/c/android/jni/"/>

    <!-- C source files -->
    <source-file src="src/android/jni/HelloCJni.c" target-dir="app/src/main/java/c/android/jni/"/>

    <source-file src="src/common/hello.h" target-dir="app/src/main/java/c/common/"/>
    <source-file src="src/common/hello.c" target-dir="app/src/main/java/c/common/"/>

    <source-file src="src/android/prebuilt/include/openssl/aead.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/aes.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/arm_arch.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/asn1_mac.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/asn1.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/asn1t.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/base.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/base64.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/bio.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/blowfish.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/bn.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/buf.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/buffer.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/bytestring.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/cast.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/chacha.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/cipher.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/cmac.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/conf.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/cpu.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/crypto.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/curve25519.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/des.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/dh.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/digest.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/dsa.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/dtls1.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/e_os2.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/ec_key.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/ec.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/ecdh.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/ecdsa.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/engine.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/err.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/evp.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/ex_data.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/hkdf.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/hmac.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/hrss.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/is_boringssl.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/lhash.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/md4.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/md5.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/mem.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/nid.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/obj_mac.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/obj.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/objects.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/opensslconf.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/opensslv.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/ossl_typ.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/pem.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/pkcs7.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/pkcs8.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/pkcs12.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/poly1305.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/pool.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/rand.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/rc4.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/ripemd.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/rsa.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/safestack.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/sha.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/siphash.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/span.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/srtp.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/ssl.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/ssl3.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/stack.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/thread.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/tls1.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/type_check.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/x509_vfy.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/x509.h" target-dir="app/src/main/java/c/common/openssl"/>
    <source-file src="src/android/prebuilt/include/openssl/x509v3.h" target-dir="app/src/main/java/c/common/openssl"/>

    <source-file src="src/common/mylib/mylib.h" target-dir="app/src/main/java/c/common/mylib"/>
    <source-file src="src/common/mylib/mylib.c" target-dir="app/src/main/java/c/common/mylib"/>
    <source-file src="src/common/mylib/mycomponent.h" target-dir="app/src/main/java/c/common/mylib"/>
    <source-file src="src/common/mylib/mycomponent.c" target-dir="app/src/main/java/c/common/mylib"/>
    <source-file src="src/common/mylib/parts/mypart.h" target-dir="app/src/main/java/c/common/mylib/parts"/>
    <source-file src="src/common/mylib/parts/mypart.c" target-dir="app/src/main/java/c/common/mylib/parts"/>
  <!-- END DEBUG -->

  </platform>

  <platform name="ios">

    <config-file target="config.xml" parent="/widget">
      <feature name="HelloCPlugin">
        <param name="ios-package" value="HelloCPlugin" />
      </feature>
    </config-file>

    <!-- Objective-C plugin API -->
    <header-file src="src/ios/HelloCPlugin.h" target-dir="HelloCPlugin"/>
    <source-file src="src/ios/HelloCPlugin.m" target-dir="HelloCPlugin"/>

    <!-- C source files -->
    <header-file src="src/ios/c_getArch.h" target-dir="HelloCPlugin"/>
    <source-file src="src/ios/c_getArch.c" target-dir="HelloCPlugin"/>

    <header-file src="src/common/hello.h" target-dir="HelloCPlugin"/>
    <source-file src="src/common/hello.c" target-dir="HelloCPlugin"/>

    <!-- PRODUCTION - comment out source files below for debugging -->
    <!-- pre-compiled library as a framework -->
    <!-- Compiled C libraries -->
    <source-file src="src/ios/libs/libmylib.a" framework="true" />
    <!-- C header files -->
    <header-file src="src/ios/libs/headers/mylib.h" target-dir="HelloCPlugin"/>
    <header-file src="src/ios/libs/headers/mycomponent.h" target-dir="HelloCPlugin"/>
    <header-file src="src/ios/libs/headers/mypart.h" target-dir="HelloCPlugin"/>
    <!-- END PRODUCTION -->

    <!-- DEBUG - these files are not needed for production - comment in for debugging -->
    <!-- C source files -->
    <!--<header-file src="src/common/mylib/mylib.h" target-dir="HelloCPlugin"/>-->
    <!--<source-file src="src/common/mylib/mylib.c" target-dir="HelloCPlugin"/>-->
    <!--<header-file src="src/common/mylib/mycomponent.h" target-dir="HelloCPlugin"/>-->
    <!--<source-file src="src/common/mylib/mycomponent.c" target-dir="HelloCPlugin"/>-->
    <!--<header-file src="src/common/mylib/parts/mypart.h" target-dir="HelloCPlugin"/>-->
    <!--<source-file src="src/common/mylib/parts/mypart.c" target-dir="HelloCPlugin"/>-->
    <!-- END DEBUG -->

  </platform>
</plugin>
